<div>
    <h1>This is home page!</h1>
    <p>
        This is text for home page!
    </p>
    <Render::Image
    src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
    alt="A picture of Grand Old Mansion"
    @type="SomeType"
    />
    <About />
</div>