<div style="width:100%;height:100%;">
    <svg width='1500' height='720'>
        {{#each this.elementsToRender as |element|}}
            {{#let (component element) as |Element|}}
                <Element @object_set={{this.groupModel.config_array}} />
            {{/let}}
        {{/each}}
        {{#each this.simpleEl.config_obj as |model|}}
            <Render::Shape @model={{model}} />
        {{/each}}
        {{#each this.bullet.config_obj as |bModel|}}
            <Render::Shape @model={{bModel}} />
        {{/each}}
        {{#each this.shields as |shield|}}
            <Render::Group @object_set={{shield.config_array}} />
        {{/each}}
    </svg>
</div>